header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #bc3030;
}
header .header-container {
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 200px;
}
