main {
  display: flex;
  justify-content: center;
  flex: 1;
}
main .main-container {
  width: 1600px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 30px 0;
}
.pokemon {
  background:rgb(255 255 255 / 65%);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  align-self: flex-start;
}

.pokemon .big-circle {
  background: #ef8200;
  width: 300px;
  height: 300px;
  position: absolute;
  top: -140px;
  left: -17px;
  border-radius: 50%;
  z-index: 1;
  transition: all 0.3s ease-out;
}
.pokemon .hp {
  position: absolute;
  z-index: 2;
  top: 25px;
  right: 20px;
  background: white;
  border-radius: 50px;
  padding: 8px 13px;
  font-size: 15px;
}
.pokemon .hp span:first-child {
  font-size: 12px;
}
.pokemon:hover .big-circle {
  height: 250px;
}

.pokemon .main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 2;
  position: relative;
}
.pokemon .main-info img {
  width: 150px;
  margin: 60px 40px 0;
  transition: all 0.3s ease-in;
}
.pokemon:hover .main-info img {
  scale: 1.1;
}
.pokemon .main-info h2 {
  font-size: 25px;
}
.pokemon .main-info .types {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.pokemon .main-info .types span {
  background: #ef8200;
  border-radius: 50px;
  padding: 2px 9px;
  color: white;
  font-size: 12px;
}
.pokemon .powers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.pokemon .powers div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.pokemon .powers div span:first-child {
  font-weight: bold;
}
footer {
  display: flex;
  justify-content: center;
  background: #5a3926;
  color: white;
}
.footer_container {
  width: 1440px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 30px 0;
  font-weight: 300;
  font-size: 1rem;
}
